
.background {
    -fx-background-color: #ffffff;
}

.text {
    -fx-font-family: "Courier New";
    -fx-font-color: black;
}

#labelTitle {
    -fx-alignment: left;
    -fx-font-size: 28pt;
}

.table-view {
    -fx-control-inner-background: #ffffff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent white transparent white;
    -fx-background-color: transparent, derive(#ffffff,20%);
}


.button {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-radius: 16px;
     -fx-background-radius: 16px;
}

.button:hover {
    -fx-background-color: black;
    -fx-text-fill: #fefefe;
}

.exploding-button:exploding {
  -fx-background-color: red;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: black;
  -fx-text-fill: #fefefe;
}
